@import url('https://fonts.googleapis.com/css?family=Oswald:200&display=swap');
.body {
    margin: 0px !important;
    background-color: #060809;
}

.gold {
    background-color: #FF9601;
    color: #060809;
}

.what-we-do {
    padding-top: 110px;
}

.idea-section .row {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: auto;
    padding-bottom: 30px;
    padding-left: 50px;
    padding-right: 50px;
}

.section-title {
    text-align: center;
    color: #060809;
}

.section-title.idea-section {
    font-size: 1rem;
    font-weight: 400;
}

.section-title h2 {
    padding-top: 90px;
    font-size: 2.5em;
}

h3 {
    font-size: 2em;
    font-weight: 100;
}

a {
    color: white;
    text-decoration: none;
}

section {
    height: auto;
    min-height: 400px;
    position: relative;
}

.separator {
    position: absolute;
    top: 0;
}

.separator-bottom {
    position: absolute;
    bottom: 0;
}

#five .section-title {
    padding-bottom: 2.5em;
}