.marketplace {
    padding: 20px 30px;
    padding-bottom: 50px;
    background-color: #060809;
}

.marketplace .row {
    display: flex;
    justify-content: center;
    align-items: center;
}

.marketplace h1 {
    text-align: center;
    color: white;
    margin-bottom: 40px;
}

.marketplace-card {
    width: 100%;
    max-width: 300px;
    height: 300px;
    padding: 50px;
    margin: 10px 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 30px;
    text-align: center;
}

.marketplace-card a {
    text-decoration: none;
}

.marketplace-card a:hover {
    text-decoration: none;
    color: #FF9601;
}

.marketplace-card h4 {
    padding-top: 20px;
}

.marketplace-card h4:hover {
    font-size: 25px;
}

.marketplace-card img {
    border-radius: 50%;
    width: 100px;
}

.marketplace-card img:hover {
    border-radius: 50%;
    width: 110px;
}