:root {
    --footer-bg: #101519;
}

footer {
    background-color: var(--footer-bg) !important;
    height: auto;
    padding-top: 40px;
    color: #fff;
}

.footer-social-link {
    font-size: 30px;
    margin: 10px;
}

.footer-content .logo a {
    font-family: Retroica !important;
    font-style: normal;
    font-weight: normal;
    font-size: 30px;
    line-height: 30px;
    text-decoration: none;
    /* identical to box height */
    display: flex;
    align-items: center;
    text-align: center;
    letter-spacing: -0.1em;
}

.footer-content {
    font-family: 'Quattrocento', serif !important;
    background-color: var(--footer-bg) !important;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    text-align: center;
}

.footer-content h3 {
    font-size: 2.1rem;
    font-weight: 500;
    text-transform: capitalize;
    line-height: 3rem;
}

.footer-content p {
    max-width: 500px;
    margin: 10px auto;
    line-height: 28px;
    font-size: 14px;
    color: #cacdd2;
}

.footer-bottom {
    background: var(--footer-bg);
    padding: 20px;
    padding-bottom: 15px;
    text-align: center;
}

.footer-bottom p {
    font-size: 14px;
    word-spacing: 2px;
    text-transform: capitalize;
}

.footer-bottom span {
    text-transform: uppercase;
    opacity: .4;
    font-weight: 200;
}