.gallery-section {
    padding: 20px 30px;
    background-color: #060809;
}

.gallery-section h1 {
    text-align: center;
    color: white;
    margin-bottom: 40px;
}

.gallery-section .row {
    display: flex;
    justify-content: center;
    align-items: center;
}

.gallery-card {
    width: 100%;
    max-width: 300px;
    height: 300px;
    padding: 50px;
    margin: 10px auto;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 30px;
    text-align: center;
}

.gallery-card a {
    text-decoration: none;
}

.gallery-card a:hover {
    text-decoration: none;
    color: #FF9601;
}

.gallery-card h4 {
    padding-top: 20px;
}

.gallery-card h4:hover {
    font-size: 25px;
}

.gallery-card img {
    width: 210px;
    border-radius: 30px;
}

.gallery-card img:hover {
    border-radius: 30px;
    width: 220px;
}